body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.player {
  width: 350px;
  background: #1e1e1e;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.5);
}

.player h2 {
  margin: 0;
  font-size: 22px;
  color: #ff9800;
}

.player p {
  margin: 5px 0 20px;
  font-size: 14px;
  opacity: 0.8;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #333;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.progress {
  height: 8px;
  width: 0%;
  background: #ff9800;
  border-radius: 10px;
}

.time {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  opacity: 0.8;
  margin-bottom: 15px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls button {
  border: none;
  background: #333;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.controls button:hover {
  background: #ff9800;
  color: black;
}

#playBtn {
  font-size: 20px;
  background: #ff9800;
  color: black;
  padding: 12px 18px;
  border-radius: 50%;
}

.volume {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.volume input {
  width: 150px;
}

.cover {
  width: 180px;
  height: 180px;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 8px 18px rgba(0,0,0,0.6);
}

.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
